[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django = "*"
"flake8" = "*"
"autopep8" = "*"
ipython = "*"
tox = "*"
coverage = "*"
codacy-coverage = "*"
pytest-cov = "*"
black = "*"
pre-commit = "*"

[packages]
django = "==2.2.6"
django-extensions = "*"
djangorestframework = "*"
django-auditlog = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
